body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2f3e58;
    background: #ebebeb;
}
.cres_nav {
    background-color: #fff;
    height: 130px;
    position: sticky;
    width: 100%;
    z-index: 999;
    padding-top: 20px;
    border-bottom: 20px solid #001254;
    top: 0;
}
.navlogo {
    width: 100px;
    background: #fff;
    position: relative;
    top: 10px;
}
.navttlsze {
    position: relative;
    padding-right: 35px!important;    
}
.navttlsze:after {
    content: "";
    border-right: 1px solid #bbb;
    height: 55px;
    position: absolute;
    right: 0;
    top: 17px;
}
.cres_nav .navsm_ttl {
    color: #009bfa;
    font-weight: 700;
}
.cres_nav .navbig_ttl {
    color: #193989;
    font-weight: 600;
    font-size: 45px;
    line-height: 1;
}
.norm_navitem {
    padding-top: 55px;
}
.norm_navitem .nav-link {
    padding: 0 30px!important;
    color: #2f3e58;
}

/*====== BANNER =======*/
.cres_banner {
    height: 400px;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    position: relative;
}
.banner_overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: linear-gradient(to right, #4586ca, transparent);
}
.cres_bn_text {
    position: relative;
    z-index: 1;
    color: #fff;
}
.cres_ttl_banner  {
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
}
.cres_bn_text .text p {
    font-size: 25px;
    color: #ffffffc2;
}

/*====== INSIGHT =======*/
.insight_section {
    padding: 60px 0;
}
.cres_titles h3 {
    font-weight: 600;
    line-height: 1;
}
.cres_titles {
    margin-bottom: 30px;
}
.insight_slider {
    margin-bottom: 0;
    padding-left: 0;
}
.insight_slider.slider_mob {
    display: none;
}
.mob_slider {
    display: none!important;
}
.insight_slider .slidestem {
    list-style: none;
    display: inline-block;
    width: 33%;
}
.insight_slider .slidestem .slide_item {
    background: #fff;
    box-shadow: 1px 1px 10px #00000052;
    padding: 20px;
    margin: 0 5px;
    border-bottom: 10px solid #01a49c;
}
.insight_slider .slidestem .slide_item .insight_txt {
    font-size: 30px;
    line-height: 1;
    padding-top: 10px;
    font-weight: 600;
    color: #01a49c;
}
.insight_slider .slidestem:first-child .slide_item {
    margin-left: 5px;
    border-bottom: 10px solid #1450d2;
}
.insight_slider .slidestem:first-child .slide_item .insight_txt {
    font-size: 30px;
    line-height: 1;
    padding-top: 10px;
    font-weight: 600;
    color: #1450d2;
}
.insight_slider .slidestem:last-child .slide_item {
    margin-right: 5px;
    border-bottom: 10px solid #009bfa;
}
.insight_slider .slidestem:last-child .slide_item .insight_txt {
    font-size: 30px;
    line-height: 1;
    padding-top: 10px;
    font-weight: 600;
    color: #009bfa;
}
.insight_slider .slide_item .insight_img {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.insight_img:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    top: 0;
    border-top: 0px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 70px solid #fff;
}
.insight_img:after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    bottom: 0;
    border-bottom: 0px solid transparent;
    border-top: 70px solid transparent;
    border-right: 70px solid #fff;
}

/*====== COMMITMENT =======*/
.com_section {
    padding: 60px 0;
    background-image: url('../img/com.png');
    background-color: #1450d2;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow:inset 1px 0px 10px #0000007a;
}
.btn_acme {
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 30px;
    border-radius: 0;
    transition: all ease 0.2s;
    font-size: 14px;
}
.btn_acme:hover {
    background: #1450d2;
    border: 1px solid #1450d2;
    color: #fff!important;
}
.comttl {
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}
.com_p {
    font-size: 17px;
    color: #fff;
}

/*====== EVENT =======*/
.event_section {
    padding: 60px 0;
}
.event_slider {
    padding-left: 0;
    margin-bottom: 0;
}
.event_slider .slidestem {
    width: 33%;
    list-style: none;
    display: inline-flex;
}
.event_slider .slidestem .slide_item {
    background: #1450d2;
    color: #fff;
    padding: 20px;
    margin: 0 7px;
    height: 287px;
    width: 100%;
    position: relative;
}
.event_slider .slidestem:first-child .slide_item {
    margin-left: 0; 
}
.event_slider .slidestem:last-child .slide_item {
    margin-right: 0;
}
.event_text {
    margin-top: -20px;
}
.event_text h3 {
    font-size: 20px;
    font-weight: 700;
}
.event_text p {
    font-size: 14px;
}
.event_date {
    width: 70px;
    height: 70px;
    background: #001254;
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: center;
    position: relative;
    top: -40px;
}
.event_date:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 20px solid #44538c;
    position: absolute;
    top: 0;
    left: -20px;
}
.event_month {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
}
.event_day {
    font-size: 33px;
    line-height: 1;
    font-weight: 700;
}
.event_location {
    background: #ebebeb;
    color: #2f3e58;
    text-align: right;
    position: absolute;
    padding: 10px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 18px;
    bottom: 0;
    width: 94%;
    right: 0;
}
.event_location:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    top: 0;
    border-top: 0px solid transparent;
    border-bottom: 47px solid transparent;
    border-left: 50px solid #1450d2;
}
/*====== FOOTER =======*/
.footer_section {
    padding: 30px 0;
    background: #707070;
    color: #fff;
}
.social_links {
    padding-left: 0;
    margin-bottom: 0;
}
.social_links li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}
.social_links li a {
    text-decoration: none;
    background: #ebebeb;
    display: block;
    width: 24px;
    text-align: center;
    line-height: 1.4;
    color: #707070;
    border-radius: 50%;
    padding: 2px;
    transition: all ease 0.2s;
}
.social_links li a:hover {
    color: #ebebeb;
    background: #707070;
}
.nav_resp, .mob_nav_ttl {
    display: none;
}
.mob_footer {
    display: none;
}
.policy_inl {
    display: inline-block;
    width: 145px;
    text-align: center;
    background: #eaecee;
}
.policy_inl a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    color: #707070;
}
.mob_footerlist {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}
.mob_footerlist li {
    list-style: none;
    margin-bottom: 15px;
}
.mob_footerlist li a {
    text-decoration: none;
    display: block;
    color: #707070;
    background: #eaecee;
    padding: 10px;
}
.mob_ft_ttl div {
    padding: 10px;
    padding-top: 20px;
    color: #001a7a;
    border-bottom: 1px solid #868686;
}
.logo_mobile_disp {
    display: none;
}
.logmob {
    width: 90px;
    margin: 0 auto;
    padding: 10px;
}
#openkey {
    display: none;
}
.navbar_mobileres .openkey {
    display: none;
}
.navbar_mobileres .closekey {
    display: block;
}
.navbar_mobileres.actives .openkey {
    display: block;
    color: #da0000;
    font-weight: 700;
    transform: rotate(45deg);
    font-size: 2.5rem;
    line-height: 1;
    position: relative;
    top: -5px;
}
.navbar_mobileres.actives .closekey {
    display: none;
}
body .body_overlay {
    display: none;
}
body.show_overlay .body_overlay {
    display: block;
    width: 100%;
    height: 100vh;
    background: #000000b8;
    z-index: 777;
    position: fixed;
    top: 0;
}