@media (max-width: 768px) {
  .nav_resp {
    display: block;
  }
  .nav_resp a {
    width: 95px;
    margin: 0 auto;
  }
  .navlogo_resp {
    width: 60px;
    display: block;
    margin: 0 auto;
  }
  .nav_desk {
    display: none;
  }
  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
  .navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  .navbar-toggler-icon {
    color: #193989;
    font-size: 30px;
    padding: 7px;
    line-height: 1;
  }
  .cres_nav {
    background-color: #ebebeb;
    height: 60px;
    width: 100%;
    z-index: 999;
    border-bottom: none;
    padding:0;
  }
  .navbar-collapse.show{
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    left: 0px;
    top: 60px;
  }
  .navbar-nav {
    text-align: center;
    padding-left: 0;
    margin-bottom: 50px!important;
  }
  .navbar-nav li {
    list-style: none;
    padding: 6px 50px;
  }
  .navttlsze {
    display: none;
  }
  .norm_navitem .nav-link {
    padding: 15px 30px!important;
    color: #707070;
    background: #ebebeb;
  }
  .mob_nav_ttl {
    display: block;
    color: #193989;
  }
  .cres_banner {
    background: #1a9cf7!important;
  }
  .banner_overlay {
    display: none;
  }
  .cres_ttl_banner {
    font-size: 40px;
  }
  .cres_ttl_banner span {
    font-size: 20px;
    font-weight: 400;
  }
  .cres_bn_text .text p {
    font-size: 20px;
  }
  .insight_slider.slider_mob {
    display: block;
  }
  .insight_slider.slider_desk {
    display: none;
  }
  .insight_slider .slidestem {
    width: 100%;
  }
  .owl-nav {
    display: none;
  }
  .owl-dots {
    text-align: center;
    margin-top: 10px;
  }
  .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ebebeb!important;
    margin: 0 5px;
  }
  .owl-dots .owl-dot.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ebebeb!important;
    background: #ebebeb;
  }
  .insight_section {
    background: #001a7a;
  }
  .cres_titles h3 {
    color: #fff;
  }
  .cres_titles p {
    font-size: 15px;
    color: #ffffffd4;
  }
  .insight_slider .slidestem .slide_item .insight_txt,
  .insight_slider .slidestem:first-child .slide_item .insight_txt,
  .insight_slider .slidestem:last-child .slide_item .insight_txt {
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
  }
  .insight_img:before {
    border-bottom: 50px solid transparent;
    border-left: 50px solid #fff;
  }
  .insight_img:after {
    border-top: 50px solid transparent;
    border-right: 50px solid #fff;
  }
  .insight_slider .slidestem .slide_item {
    padding: 15px;
  }
  .owl-carousel.slider_mob .owl-item .slidestem .slide_item .insight_img {
    height: 120px!important;
    overflow: hidden!important;
  }
  .owl-carousel.slider_mob .owl-item.active .slidestem .slide_item .insight_img {
    height: auto!important;
    overflow: hidden!important;
  }
  .owl-stage-outer .owl-stage {
    padding-left: 0!important;
    overflow-x: hidden;
  }
  .container {
    padding-right: var(--bs-gutter-x,1.5rem)!important;
    padding-left: var(--bs-gutter-x,1.5rem)!important;
  }
  .comttl {
    font-size: 30px;
  }
  .com_p {
    font-size: 15px;
  }
  .btn_acme.combtn {
    border-bottom: 0!important;
    border-left: 0!important;
    border-right: 0!important;
  }
  .event_section .cres_titles h3 {
    color: #001a7a;
  }
  .event_section .cres_titles p {
    color: #707070;
  }
  .event_slider.desk_slider {
    display: none;
  }
  .mob_slider {
    display: block!important;
  }
  .event_slider .slidestem {
    width: 100%;
    margin-top: 21px;
  }
  .owl-coursel.mob_slider .owl-stage-outer {
    height: 310px;
  }
  .owl-carousel.mob_slider .owl-item .event_text h3 {
    font-size: 18px;
  }
  .owl-carousel.mob_slider .owl-item .event_text p {
    font-size: 12px;
  }
  .owl-carousel.mob_slider .owl-item .event_text .btn_acme {
    font-size: 12px;
    margin-top: 0!important;
  }
  .owl-carousel.mob_slider .owl-item .slide_item {
    height: 240px!important;
  }
  .owl-carousel.mob_slider .owl-item .event_date {
    width: 50px;
    height: 50px;
  }
  .owl-carousel.mob_slider .owl-item .event_day {
    font-size: 11px;
  }
  .owl-carousel.mob_slider .owl-item .event_day {
    font-size: 25px;
  }
  .owl-carousel.mob_slider .owl-item .event_text {
    margin-top: -27px;
  }
  /*active*/
  .owl-carousel.mob_slider .owl-item.active .event_text h3 {
    font-size: 20px;
  }
  .owl-carousel.mob_slider .owl-item.active .event_text p {
    font-size: 14px;
  }
  .owl-carousel.mob_slider .owl-item.active .event_text .btn_acme {
    font-size: 14px;
    margin-top: 0.2rem!important;
  }
  .owl-carousel.mob_slider .owl-item.active .slide_item {
    height: 287px!important;
  }
  .owl-carousel.mob_slider .owl-item.active .event_date {
    width: 70px;
    height: 70px;
  }
  .owl-carousel.mob_slider .owl-item.active .event_day {
    font-size: 13px;
  }
  .owl-carousel.mob_slider .owl-item.active .event_day {
    font-size: 33px;
  }
  .owl-carousel.mob_slider .owl-item.active .event_text {
    margin-top: -20px;
  }
  .event_date {
    background: #fff;
    color: #008c82;
  }
  .event_slider .slidestem .slide_item {
    background: #001a7a;
  }
  .event_location:after {
    border-left: 50px solid #001a7a;
  }
  .owl-carousel .owl-dots .owl-dot {
    border: 1px solid #cccccc!important;
  }
  .owl-carousel .owl-dots .owl-dot.active {
    border: 1px solid #cccccc!important;
    background: #cccccc;
  }

}

@media (max-width: 576px) {
  .mob_footer {
    display: block;
    background: #cccccc;
  }
  .desk_footer {
    display: none;
  }
  body {
    background: #eaecee;
  }
  .logo_mobile_disp {
    display: block;
  }
  .event_section {
    padding-bottom: 20px;
  }
}